<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Newsreader_24pt-Regular.ttf</string>
		<string>Newsreader_36pt-Regular.ttf</string>
		<string>Newsreader_24pt-Medium.ttf</string>
		<string>Newsreader_24pt-Bold.ttf</string>
		<string>Newsreader_24pt-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
